/*Stylesheet for projects Lights Out Clone.*/

#body{
	background-color: #424242;
}

#header{
	margin-bottom: 30px;
	background-color: black;
	color: white;
}

#gameArea{
	background-color: #424242;
	color: white;
}

td{
	width: 50px;
	height: 50px;
	border: 5px solid black;
	background-color: cornflowerblue;
}

td.on{
	background-color: yellow;
}

td.off{
	background-color: cornflowerblue;
}

td:hover{
	cursor: pointer;
}

#restartButton, #undoButton, #muteButton{
	height: 50px;
	width: 100px;
	margin: 5px;
	border: 3px solid black;
	background-color: cornflowerblue;
	color: white;
	outline: none;
}

#restartButton:active, #undoButton:active, #muteButton:active{
	background-color: yellow;
}

#instructions{
	width: 400px;
}

.link:hover{
	text-decoration: none;
	color: cornflowerblue;
}

.link{
	color: yellow;
}

#shh{
	color: white;
}